* {
    font-size: 16px;
}

.random {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random__panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-bottom: 1px solid #BFBFBF;
}

input, button {
    cursor: pointer;
    padding: 0;
    width: 200px;
    margin: 5px 0 5px 0;
}

.random__result {
    margin: 25px 0 0 0;
    width: 200px;
    height: 200px;
    border: #000 1px solid;
    border-radius: 10px;
    background: rgb(255,255,255);
}