body {
    display: flex;
    justify-content: center;
    margin: 20vh 0 0 0;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 100px;
    height: 35px;
    border: black 1px solid;
}

td:hover, input:hover {
    cursor: pointer;
    background: silver;
}

td:hover input {
    cursor: pointer;
    background: silver;
}

input {
    margin: 1px 0 0 0;
    border: none;
    width: 90%;
    height: 90%;
}

input:focus {
    border: 1px #000 solid;
    outline:none;
    background: none !important;
}

button {
    cursor: pointer;
    width: 35px;
    height: 20px;
}

.minus {
    margin: 0 0 0 10px;
}

.bottom_panel {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.right_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -3% 0 0 20px;
}