@font-face {
 font-family: "Harry";
 src: url("harry.ttf");
}

html {
	background-image: url(background.jpg);
	animation: 8s ease 0s 1 normal forwards running background;
}

body, html {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	justify-content: center; 
	align-items: center;
	background-repeat: no-repeat;
	background-color:rgba(0,0,0,.5);
}

@keyframes background {
0%	{
background-size: 200% 200%;
}
100% {
background-size: 100% 100%;
	}
}

.translation {
	transition: 1s;

}

#candlesblock, .translation {
	display: flex;
	justify-content: space-between;
	position: absolute;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	overflow: hidden
}


.candle {
	z-index: 1;
	display: flex;
	justify-content: center; 
	align-items: center;
	width: calc(136px / 1);
	height: calc(204px / 1);
	background-image: url(ezgif.com-gif-maker.gif);
	background-size: calc(136px / 1) calc(204px / 1);
	background-size: contain;
	background-repeat: no-repeat;
	opacity:0; /*Элемент полностью прозрачный (невидимый)*/
	transition: 2s; /*Скорость перехода состояния элемента*/
	animation: show 10s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: 0s; /* Задержка перед началом */
}

    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }

@keyframes flying{
0%	{
	transform: translateY(0);
}
50%	{ 
	transform: translateY(-100px); 
	}
100% {
transform: translateY(0);
	}
}

@keyframes show{
0%	{
	opacity:0;
}
50%	{ 
	}
100% {
opacity:1;
	}
}

.magiccircle {
	background-image: url(circle.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	width: 350px;
	animation: magicrotate 60s infinite linear;
}

@keyframes magicrotate{

100% {
	transform: rotate(-720deg);
	}
}

.sky {
	display: flex;
	justify-content: center; 
	align-items: center;
	height: 350px;
	width: 350px;
	border-radius: 50%;
	background-image: url(sky.jpg);
	animation: rotate 60s infinite linear;
	z-index: 2;
}

@keyframes rotate{

100% {
	transform: rotate(360deg);
	}
}

.main {
	display: flex;
	justify-content: center; 
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: 2;
	animation: shadow 3s infinite, antirotate 60s infinite linear; 
}

@keyframes antirotate{

100% {
	transform: rotate(360deg);
	}
}

@keyframes shadow{
0%	{
	box-shadow: 0 0 200px rgba(255,237,0,0.8);
}
50%	{
	box-shadow: 0 0 20px rgba(255,237,0,0.8);
}
100% {
box-shadow: 0 0 200px rgba(255,237,0,0.8);
	}
}

.button {
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column;
	text-shadow: 1px 1px 4px black, 0 0 1em red;
	border-radius: 50%;
	border:none;
	height: 60%;
	width: 60%;
	font-family: "Harry";
	font-size: 50px;
	transition: 1s;
	background: rgba(255,255,255, .2);
    background-size: 100%;
    color: white;            
    box-shadow: 5px 10px 20px rgba(255,237,0,0.3), -5px -10px 20px rgba(255,237,0,0.5);
    outline: none;
    cursor: pointer;
}

.button:hover {
	font-size: 70px;
	height: 80%;
	width: 80%;
	text-shadow: 1px 1px 4px black, 0 0 1em red;
	text-decoration: none;
}

p {
	transition: 2s;
	margin: 0;
}

.button:hover p {
	color: red;
}